<h1>{{title}}</h1>
<p><b>Server time (UTC):</b> <span id="serverTime">{{serverTime}}</span></p>
<p><b>Amsterdam time:</b> <span id="localTime">{{localTime}}</span></p>
<hr>
<p>This is just a server, you can close the window</p>

<script>
  function fetchTime() {
    fetch('/current-time')
      .then(response => response.json())
      .then(data => {
        document.getElementById('serverTime').textContent = data.serverTime;
        document.getElementById('localTime').textContent = data.localTime;
      })
      .catch(err => console.error(err));
  }
  setInterval(fetchTime, 1000);
</script>
